 <!DOCTYPE html>
    <html>
    <head>
        <title></title>
    </head>
    <body>
        <form action="/Create" method="post">
            <label>Employee name:</label>
            <input type="text" style="width: 300px;" name="Name" /><br />

            <label>Emplopyee e-mail:</label>
            <input type="email" style="width: 300px;" name="e-mail" /><br />

            <input type="submit" style="width: 300px;" value="Save" />
        </form>
    </body>
    </html>