@model EmployeesApp.Web.Models.Employee[]
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<!DOCTYPE html>
    <html>
    <head>
        <title></title>
    </head>
    <body>

        <h2>Employees</h2>
        Count: <strong>@Model.Length</strong>

    <ul>
        @foreach (var employee in Model)
        {
            <li>
                @employee.Name
            </li>
        }
    </ul>
    <a asp-controller="employees" asp-action="create">Add Employee</a>

    
    </body>
    </html>
